/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Own Styles */
* {
  box-sizing: border-box;
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-family: "Chelsea Market", cursive;
}

a {
  font-family: "Roboto Mono", monospace;
  height: max-content;
  width: max-content;
  padding: 0.8rem 4rem;
}
span {
  font-weight: bold;
}

section {
  padding: 4% 0;
}
nav {
  margin-top: 2rem;
}

nav,
footer {
  text-align: center;
}
nav a,
footer a {
  display: inline-block;
  border-radius: 10px;
  margin: 0 6rem;
  text-decoration: none;
  color: white;
}
.orange-link {
  background-color: #ff764e;
}

.blue-link {
  background-color: #5ed3eb;
}
.yellow-link {
  background-color: #ffcd69;
}

/* title-section */
.title-section img {
  border-radius: 50%;
  height: 17rem;
  display: inline-block;
  margin: 0 3rem 0 5rem;
  margin-top: 4rem;
}

.title-text {
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-right: 10rem;
}

.title-text h1 {
  font-size: 5rem;
}
.always-open-text {
  width: 50%;
  margin: 0 auto;
}

.come-explore-text {
  margin: 3rem 0;
}

/* main section */
.main-section-text-container {
  background-color: #ddb9a3;
  padding: 2rem 1.5rem;
  margin: 0 4rem;
  color: #f4f4f4;
}
.main-section p:first-child {
  margin-bottom: 1rem;
}

/* info image section */

.info-images-container img {
  height: 13rem;
}
.info-images-container {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.info-images-container p {
  margin: 1.5rem 0 5rem 0;
}
/* bottom banner image section */

.banner-img-container {
  background-image: url("assets/footer_img.jpg");
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

/* footer */
footer {
  margin-bottom: 4rem;
}
